@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  font-family: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}